<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/marinehow/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/marinehow/favicon.png">

    <title>{% block title %} Marine How{% endblock%}</title>
	<meta name="description" content="Share your knowledge and find right answer about ship">
    <meta name="Keywords" content="Web service which provide seafarers with platform for share knowledge about marine and offshore vessels">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/marinehow/style.css" media="screen" title="no title" charset="utf-8">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Make Room for NavBar -->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74414056-3', 'auto');
          ga('send', 'pageview');

    </script>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background-color: #ecf0f1">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#8801;
      </button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <h1 class="navbar-brand"><a href="{% url 'marinehow:questions' %}"><img src='/static/marinehow/howlogo.png' class='img-responsive' /></a></h1>
          <form class="form-inline navbar-form pull-xs-right" id="searchBar" action="{%url 'marinehow:search'%}" method="get">
            <input class="form-control" type="text" name="q" value="Search Questions">
            <button class="btn btn-success-outline" type="submit">Search</button>
          </form>
      </div>
    </nav>
    <div id="page">
      <div class="container">
        <div class="row">
          <div id='content' class="col-md-12">
		  <p class="text-muted"><strong>Nice to see you in Marine How website.</strong><br>Marine How is a service to help employees marine and offshore industry in the operational search of the answer to the problems encountered at work.<br> Marine How wants to unite sailors of all specialties in the discussion of professional issues.<br>
Service is beta testing before the end of 2016. <br>Online, you can ask questions and receive answers from other sailors, as well as the administration of the site.<br>
Ask questions about the operation of the site through the contact form. </p>
          </div>
        </div>
      </div>
    </div>
	<div class="footer">
      <div class="container">
	   <div class="col-md-12">
			<p class="text-muted">&copy; 2016 Marine How <br> <a class="text-muted" href="{% url 'marinehow:about_us' %}">About us</a> | <a class="text-muted" href="{% url 'marinehow:contact_us' %}">Contact us</a> |  Find us:   </p>
			<p>
			    <a href="https://www.facebook.com/Marine-How-930722163708056/" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/marine_how" target="_blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://www.youtube.com/c/MarineHow" target="_blank"><i id="social-gp" class="fa fa-youtube-square fa-3x social"></i></a>
	            <a href="https://www.linkedin.com/company/marine-how?trk=top_nav_home" target="_blank"><i id="social-em" class="fa fa-linkedin-square fa-3x social"></i></a>
				</p>
		</div>
      </div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
      <script src="/static/marinehow/vote_button.js"></script>
  </body>
</html>
